<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>login_register</servlet-name>
        <servlet-class>servlets.login_register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>servlets.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteEmp</servlet-name>
        <servlet-class>servlets.deleteEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managerChange</servlet-name>
        <servlet-class>servlets.managerChange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>completeComplaint</servlet-name>
        <servlet-class>servlets.completeComplaint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>completeCab</servlet-name>
        <servlet-class>servlets.completeCab</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>completeService</servlet-name>
        <servlet-class>servlets.completeService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkavail</servlet-name>
        <servlet-class>servlets.checkavail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkOut</servlet-name>
        <servlet-class>servlets.checkOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookRoom</servlet-name>
        <servlet-class>servlets.bookRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookCab</servlet-name>
        <servlet-class>servlets.bookCab</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newComplaint</servlet-name>
        <servlet-class>servlets.newComplaint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookService</servlet-name>
        <servlet-class>servlets.bookService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookFood</servlet-name>
        <servlet-class>servlets.bookFood</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>completeFood</servlet-name>
        <servlet-class>servlets.completeFood</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login_register</servlet-name>
        <url-pattern>/login_register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteEmp</servlet-name>
        <url-pattern>/deleteEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managerChange</servlet-name>
        <url-pattern>/managerChange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>completeComplaint</servlet-name>
        <url-pattern>/completeComplaint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>completeCab</servlet-name>
        <url-pattern>/completeCab</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>completeService</servlet-name>
        <url-pattern>/completeService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkavail</servlet-name>
        <url-pattern>/checkavail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkOut</servlet-name>
        <url-pattern>/checkOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookRoom</servlet-name>
        <url-pattern>/bookRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookCab</servlet-name>
        <url-pattern>/bookCab</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newComplaint</servlet-name>
        <url-pattern>/newComplaint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookService</servlet-name>
        <url-pattern>/bookService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookFood</servlet-name>
        <url-pattern>/bookFood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>completeFood</servlet-name>
        <url-pattern>/completeFood</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
